@model The_Book.Models.LoginViewModel
@{
    Layout = "~/Views/Shared/_ExternalLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <ul class="nav nav-tabs">
        <li><a class="fa fa-info-circle" href="~/Home/About"> About</a></li>
        <li><a class="fa fa-phone-square" href="~/Home/Contact"> Contact</a></li>
    </ul>
    <section class="login-content">
        <div class="login-logo">
            <h1><img src="~/Images/bb_logo.JPG" width="190" height="90"></h1>
        </div>
        <div class="login">
            <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })

                <div class="form-group">
                    <label class="control-label">USERNAME</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                </div>
                <div class="form-group">
                    <label class="control-label">PASSWORD</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
                <div class="form-group">
                    <div class="utility">
                        <div class="checkbox">
                            <label class="semibold-text">
                                @Html.CheckBoxFor(m => m.RememberMe, false)<span class="label-text">Stay Signed in</span>
                            </label>
                        </div>
                        <p class="semibold-text mb-0"><a href="~/Account/ForgotPassword">Forgot your password ?</a></p>
                    </div>
                </div>
                <div class="form-group btn-container">
                    <button class="btn btn-primary btn-block">SIGN IN<i class="fa fa-sign-in fa-lg"></i></button>
                </div>
                <div class="form-group">
                    <div class="utility">
                        <p class="semibold-text mb-0"><a href="~/Account/Register">Click to Register.</a></p>
                    </div>
                </div>
            }
        </div>
    </section>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

