@model IEnumerable<The_Book.Models.School>
@{
    string role = "Administrator";
}
<!DOCTYPE html>
<html>
<body class="sidebar-mini fixed">
    <div class="wrapper">
        <aside class="main-sidebar hidden-print">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image"><img class="img-circle" src="@Url.Action("UserPhoto","Home")" alt="User Image"></div>
                    <div class="pull-left info">
                        <p class="designation">@role</p>
                    </div>
                </div>
                <!-- Sidebar Menu-->
                <ul class="sidebar-menu">
                    <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-laptop"></i><span>Data Management</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="~/Schools/Create"><i class="fa fa-circle-o"></i>Add School</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-user-plus"></i><span>Users Management</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="~/Account/ManagerRegister"><i class="fa fa-circle-o"></i>Acount Managers</a></li>
                        </ul>
                    </li>
                    <li class="treeview active">
                        <a href="#"><i class="fa fa-th-list"></i><span>Tables</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="~/Schools/Index"><i class="fa fa-circle-o"></i> Schools</a></li>
                            <li><a href="~/Managers/Index"><i class="fa fa-circle-o"></i> Managers</a></li>
                            <li><a href="~/Teachers/Index"><i class="fa fa-circle-o"></i> Teachers</a></li>
                            <li><a href="~/Students/Index"><i class="fa fa-circle-o"></i> Students</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <div class="page-title">
                <div>
                    <h1><i class="fa fa-table"></i> Schools</h1>
                </div>
                <div>
                    <ul class="breadcrumb side">
                        <li><i class="fa fa-home fa-lg"></i></li>
                        <li>Tables</li>
                        <li class="active"><a href="#">Schools</a></li>
                    </ul>
                </div>
                
                @*<div>
                    @using (Html.BeginForm())
                    {
                        <label>Name</label> @Html.Editor("search", null, new { @class = "form-control" })<input type="submit" value="Filter" class="btn btn-primary" /><abbr title="Add School"><a class="btn btn-primary btn-flat" href="~/Schools/Create"><i class="fa fa-lg fa-plus"></i></a></abbr><abbr title="Refresh"><a class="btn btn-info btn-flat" href="~/Schools/Index"><i class="fa fa-lg fa-refresh"></i></a></abbr>
                    }                    
                </div>*@
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover table-bordered" id="sampleTable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TelNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FaxNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            Options
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TelNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FaxNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        
                                        <td>
                                            @Html.ActionLink("nfo", "Details", new { id = item.Id }, new { @class = "btn btn-info icon-btn fa fa-info", @style = "padding:1px" }) |
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning icon-btn fa fa-edit", @style = "padding:1px" }) |
                                            @Html.ActionLink("Del", "Delete", new { id = item.Id }, new { @class = "btn btn-danger icon-btn fa fa-trash", @style = "padding:1px" })
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
</body>
</html>