@model The_Book.Models.Teacher
@using The_Book.Models
@using Microsoft.AspNet.Identity
@{
    string userId = User.Identity.GetUserId();
    string role = "";
    var init = "";
    ApplicationDbContext context = new ApplicationDbContext();
    var user = context.Users.Find(userId);
    role = "Account Manager";
    var mangs = user.Manager;
    var space = mangs.school.name.IndexOf(" ");
    init = mangs.school.name.Substring(0, 1).ToUpper() + mangs.school.name.Substring(1, space).ToLower();
}
<!DOCTYPE html>
<html>
<body class="sidebar-mini fixed">
    <div class="wrapper">
        <aside class="main-sidebar hidden-print">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image"><img class="img-circle" src="@Url.Action("UserPhoto","Home")" alt="User Image"></div>
                    <div class="pull-left info">
                        <p> @init</p>
                        <p class="designation">@role</p>
                    </div>
                </div>
                <!-- Sidebar Menu-->
                <ul class="sidebar-menu">
                    <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-laptop"></i><span>Data Management</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li class="treeview active">
                                <a href="#"><i class="fa fa-circle-o"></i><span> Add Classes</span><i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Subjects/Add"><i class="fa fa-circle-o"></i><span> Grade 8-9</span></a></li>
                                    <li><a href="~/Streams/Create"><i class="fa fa-circle-o"></i> Grade 10-12</a></li>
                                </ul>
                            </li>
                            <li><a href="~/Libraries/Create"><i class="fa fa-circle-o"></i>Add to Library</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-user-plus"></i><span>Users Management</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="~/Teachers/Activate"><i class="fa fa-circle-o"></i>Teachers</a></li>
                            <li><a href="~/Parents/Create"><i class="fa fa-circle-o"></i>Add Parent</a></li>
                        </ul>
                    </li>
                    <li><a href="~/Libraries/Index"><i class="fa fa-institution"></i><span>Library</span></a></li>
                    <li><a href="~/SchoolEvents/Manage"><i class="fa fa-calendar-check-o"></i><span>Events</span></a></li>
                    <li class="treeview active">
                        <a href="#"><i class="fa fa-th-list"></i><span>Tables</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="~/Teachers/Index"><i class="fa fa-circle-o"></i> Teachers</a></li>
                            <li><a href="~/Students/Index"><i class="fa fa-circle-o"></i> Students</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <div class="row user">
                <div class="page-title">
                    <div>
                        <h1><i class="fa fa-user-times"></i> @Model.ApplicationUser.firstName</h1>
                    </div>
                    <div>
                        <ul class="breadcrumb">
                            <li><i class="fa fa-home fa-lg"></i></li>
                            <li>Tables</li>
                            <li>Teachers</li>
                            <li><a href="#">Deactivate</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <h3 class="line-head"> Deactivate</h3>
                            <div class="body bg-red">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="text-warning">
                                        <h3>Are you sure you want to deactivate @Model.ApplicationUser.fullName?</h3>
                                    </div>
                                    <br />
                                    <br />
                                    <div class="row">
                                        <div class="col-md-8 mb-20">
                                            <label>Reason</label>
                                            @Html.EditorFor(model => model.deactivatedTeacher.reason, new { htmlAttributes = new { placeholder = "Content", @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.deactivatedTeacher.reason, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <input type="submit" value="Deactivate" class="btn btn-warning" />
                                                @Html.ActionLink("cancel", "Index", null, new { @class = "btn btn-default" })
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script src="~/js/jquery-2.1.4.min.js"></script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}