@model IEnumerable<The_Book.Models.Teacher>
@using The_Book.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
<!DOCTYPE html>
@{
    string userId = User.Identity.GetUserId();
    string role = "";
    var init = "";
    ApplicationDbContext context = new ApplicationDbContext();
    var user = context.Users.Find(userId);
    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(context));
    var s = userManager.GetRoles(userId);
    if (s[0].ToString() == "Admin")
    {
        role = "Administrator";
    }
    if (s[0].ToString() == "Manager")
    {
        role = "Account Manager";
        var mangs = user.Manager;
        var space = mangs.school.name.IndexOf(" ");
        init = mangs.school.name.Substring(0, 1).ToUpper() + mangs.school.name.Substring(1, space).ToLower();
    }
}
<html>
<body class="sidebar-mini fixed">
    <div class="wrapper">
        <aside class="main-sidebar hidden-print">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image"><img class="img-circle" src="@Url.Action("UserPhoto","Home")" alt="User Image"></div>
                    <div class="pull-left info">
                        <p> @init</p>
                        <p class="designation">@role</p>
                    </div>
                </div>
                <!-- Sidebar Menu-->
                <ul class="sidebar-menu">
                    <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-laptop"></i><span>Data Management</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            @if (s[0].ToString() == "Admin")
                            {
                                <li><a href="~/Schools/Create"><i class="fa fa-circle-o"></i>Add School</a></li>
                            }
                            @if (s[0].ToString() == "Manager")
                            {
                                <li class="treeview">
                                    <a href="#"><i class="fa fa-circle-o"></i><span> Add Classes</span><i class="fa fa-angle-right"></i></a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/Subjects/Add"><i class="fa fa-circle-o"></i><span> Grade 8-9</span></a></li>
                                        <li><a href="~/Streams/Create"><i class="fa fa-circle-o"></i> Grade 10-12</a></li>
                                    </ul>
                                </li>                                    
                                <li><a href="~/Libraries/Create"><i class="fa fa-circle-o"></i>Add to Library</a></li>
                            }
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-user-plus"></i><span>Users Management</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            @if (s[0].ToString() == "Admin")
                            {
                                <li><a href="~/Account/ManagerRegister"><i class="fa fa-circle-o"></i>Acount Managers</a></li>
                            }
                            @if (s[0].ToString() == "Manager")
                            {
                                <li><a href="~/Teachers/Activate"><i class="fa fa-circle-o"></i>Teachers</a></li>
                                <li><a href="~/Parents/Create"><i class="fa fa-circle-o"></i>Add Parent</a></li>
                            }
                        </ul>
                    </li>
                    @if (s[0].ToString() == "Manager")
                    {
                        <li><a href="~/Libraries/Index"><i class="fa fa-institution"></i><span>Library</span></a></li>
                        <li><a href="~/SchoolEvents/Manage"><i class="fa fa-calendar-check-o"></i><span>Events</span></a></li>
                    }
                    <li class="treeview active">
                        <a href="#"><i class="fa fa-th-list"></i><span>Tables</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            @if (s[0].ToString() == "Admin")
                            {
                                <li><a href="~/Schools/Index"><i class="fa fa-circle-o"></i> Schools</a></li>
                                <li><a href="~/Managers/Index"><i class="fa fa-circle-o"></i> Managers</a></li>
                            }
                            @if (s[0].ToString() == "Manager" || s[0].ToString() == "Admin")
                            {
                                <li><a href="~/Teachers/Index"><i class="fa fa-circle-o"></i> Teachers</a></li>
                                <li><a href="~/Students/Index"><i class="fa fa-circle-o"></i> Students</a></li>
                            }
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <div class="page-title">
                <div>
                    <h1><i class="fa fa-table"></i> Teachers</h1>
                </div>
                <div>
                    <ul class="breadcrumb side">
                        <li><i class="fa fa-home fa-lg"></i></li>
                        <li>Tables</li>
                        <li class="active"><a href="#">Teachers</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover table-bordered" id="sampleTable">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayName("Full Name")
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.empNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.idNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.mobileNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.telNo)
                                        </th>
                                        <th>
                                            Options
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.title) @Html.DisplayFor(modelItem => item.ApplicationUser.fullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.empNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.idNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.mobileNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.telNo)
                                            </td>
                                            <td>
                                                @Html.ActionLink("nfo", "Info", new { id = item.Id }, new { @class = "btn btn-info icon-btn fa fa-info", @style = "padding:2px" }) |
                                                @if (s[0].ToString() == "Manager")
                                                {
                                                    @Html.ActionLink("Deactivate", "Deactivate", new { id = item.Id }, new { @class = "btn btn-danger", @style = "padding:1px" })
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
</body>
</html>