@model The_Book.Models.StudntsSelectionViewModel
@using The_Book.Models
@using Microsoft.AspNet.Identity
@{
    string userId = User.Identity.GetUserId();
    string role = "";
    var init = "";
    ApplicationDbContext context = new ApplicationDbContext();
    var user = context.Users.Find(userId);
    role = "Account Manager";
    var mangs = user.Manager;
    var space = mangs.school.name.IndexOf(" ");
    init = mangs.school.name.Substring(0, 1).ToUpper() + mangs.school.name.Substring(1, space).ToLower();
}
<!DOCTYPE html>
<html>
<body class="sidebar-mini fixed">
    <div class="wrapper">
        <aside class="main-sidebar hidden-print">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image"><img class="img-circle" src="@Url.Action("UserPhoto","Home")" alt="User Image"></div>
                    <div class="pull-left info">
                        <p> @init</p>
                        <p class="designation">@role</p>
                    </div>
                </div>
                <!-- Sidebar Menu-->
                <ul class="sidebar-menu">
                    <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-laptop"></i><span>Data Management</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li class="treeview">
                                <a href="#"><i class="fa fa-circle-o"></i><span> Add Classes</span><i class="fa fa-angle-right"></i></a>
                                <ul class="treeview-menu">
                                    <li><a href="~/Subjects/Add"><i class="fa fa-circle-o"></i><span> Grade 8-9</span></a></li>
                                    <li><a href="~/Streams/Create"><i class="fa fa-circle-o"></i> Grade 10-12</a></li>
                                </ul>
                            </li>
                            <li><a href="~/Libraries/Create"><i class="fa fa-circle-o"></i>Add to Library</a></li>
                        </ul>
                    </li>
                    <li class="treeview active">
                        <a href="#"><i class="fa fa-user-plus"></i><span>Users Management</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="~/Teachers/Activate"><i class="fa fa-circle-o"></i>Teachers</a></li>
                            <li><a href="~/Parents/Create"><i class="fa fa-circle-o"></i>Add Parent</a></li>
                        </ul>
                    </li>
                    <li><a href="~/Libraries/Index"><i class="fa fa-institution"></i><span>Library</span></a></li>
                    <li><a href="~/SchoolEvents/Manage"><i class="fa fa-calendar-check-o"></i><span>Events</span></a></li>
                    <li class="treeview">
                        <a href="#"><i class="fa fa-th-list"></i><span>Tables</span><i class="fa fa-angle-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="~/Teachers/Index"><i class="fa fa-circle-o"></i> Teachers</a></li>
                            <li><a href="~/Students/Index"><i class="fa fa-circle-o"></i> Students</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <div class="page-title">
                <div>
                    <h1><i class="fa fa-users"></i> Students</h1>
                </div>
                <div>
                    <ul class="breadcrumb side">
                        <li><i class="fa fa-home fa-lg"></i></li>
                        <li>Users Management</li>
                        <li class="active"><a href="#">Students</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            @using (Html.BeginForm("AssignSelected", "Parents", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
                            {
                                <div id="checkboxes">
                                    <table class="table table-hover table-bordered" id="sampleTable">
                                        <thead>
                                            <tr>
                                                <th>
                                                    <div>
                                                        <input type="checkbox" id="checkall" /> <span>Check All</span>
                                                    </div>
                                                </th>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Id/Passport No.
                                                </th>
                                                <th>
                                                    Grade
                                                </th>
                                                <th style="text-align:center">
                                                    <input type="submit" style="padding:3px" name="operation" id="submit" value="Assign" class="btn btn-success" />
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @Html.EditorFor(model => model.Students)
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script type="text/javascript">
            function toggleChecked(status) {
                $("#checkboxes input").each(function () {
                    // Set the checked status of each to match the
                    // checked status of the check all checkbox:
                    $(this).prop("checked", status);
                });
            }
            $(document).ready(function () {

                //Set the default value of the global checkbox to false:
                $("#checkall").prop('checked', false);

                // Attach the call to toggleChecked to the
                // click event of the global checkbox:
                $("#checkall").click(function () {
                    var status = $("#checkall").prop('checked');
                    toggleChecked(status);
                });
            });
        </script>
    }
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">$('#sampleTable').DataTable();</script>
</body>
</html>