@model The_Book.Models.Interaction
@using The_Book.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.EntityFramework;
@{
    string userId = User.Identity.GetUserId();
    string role = "";
    var init = "";
    ApplicationDbContext context = new ApplicationDbContext();
    var user = context.Users.Find(userId);
    var userManager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(context));
    var s = userManager.GetRoles(userId);
    if (s[0].ToString() == "Teacher")
    {
        role = "Teacher";
    }
    if (s[0].ToString() == "Student")
    {
        role = "Student";
    }
    init = user.firstName.Substring(0, 1).ToUpper();
    if (user.middleName != null)
    {
        init = user.firstName.Substring(0, 1).ToUpper() + user.middleName.Substring(0, 1).ToUpper();
    }
}
<!DOCTYPE html>
<html>
<body class="sidebar-mini fixed">
    <div class="wrapper">
        <aside class="main-sidebar hidden-print">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image"><img class="img-circle" src="@Url.Action("UserPhoto","Home")" alt="User Image"></div>
                    <div class="pull-left info">
                        @if (s[0].ToString() == "Teacher")
                        {
                            <a href="~/Teachers/Details"><p> @init @user.lastName</p></a>
                        }
                        else if (s[0].ToString() == "Student")
                        {
                            <a href="~/Students/Details"><p> @init @user.lastName</p></a>
                        }
                        <p class="designation">@role</p>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i><span>Dashboard</span></a></li>
                    @if (s[0].ToString() == "Teacher")
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-laptop"></i><span>Data Management</span><i class="fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="~/Libraries/Create"><i class="fa fa-circle-o"></i>Add to Library</a></li>
                                <li><a href="~/CASS/Index"><i class="fa fa-circle-o"></i>CASS</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#"><i class="fa fa-user-plus"></i><span>Users Management</span><i class="fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                <li><a href="~/Students/Activate"><i class="fa fa-circle-o"></i>Students</a></li>
                            </ul>
                        </li>
                    }
                    <li><a href="~/Libraries/Index"><i class="fa fa-institution"></i><span>Library</span></a></li>
                    @if (s[0].ToString() == "Teacher")
                    {
                        <li><a href="~/ClassTasks/Create"><i class="fa fa-file-text-o"></i><span>Post Task</span></a></li>
                    }
                    <li><a href="~/ClassTasks/Index"><i class="fa fa-tasks"></i><span>Tasks</span></a></li>
                    @if (s[0].ToString() != "Student")
                    {
                        <li class="treeview">
                            <a href="#"><i class="fa fa-th-list"></i><span>Tables</span><i class="fa fa-angle-right"></i></a>
                            <ul class="treeview-menu">
                                @if (s[0].ToString() == "Teacher")
                                {
                                    <li><a href="~/Students/Index"><i class="fa fa-circle-o"></i> Students</a></li>
                                }
                            </ul>
                        </li>
                    }
                    @if (s[0].ToString() == "Student")
                    {
                        <li><a href="~/CASS/Report"><i class="fa fa-th-list"></i><span>Cass Report</span></a></li>
                    }
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <div class="row user">
                <div class="col-md-12">
                    <div class="profile">
                        <div class="info">
                            <img class="user-img" src="@Url.Action("UserPhoto","Home")">
                        </div>
                        <div class="cover-image"></div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card p-0">
                        <ul class="nav nav-tabs nav-stacked user-tabs">
                            <li class="active"><a href="~/ClassTasks/Timeline">Timeline</a></li>
                            @if (s[0].ToString() == "Student")
                            {
                                <li><a href="~/Students/Details">Profile</a></li>
                            }
                            @if (s[0].ToString() == "Teacher")
                            {
                                <li><a href="~/Teachers/Details">Profile</a></li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane active">
                            <div class="timeline">
                                @if (!((List<ClassTask>)TempData["classtasks"]).Any())
                                {
                                    <div class="post">
                                        
                                        <div class="post-content" align="center">
                                           <h3><b>No task have been posted yet.</b></h3><i class="fa fa-lg fa-smile-o"></i>
                                        </div>
                                        
                                    </div>
                                }
                                else
                                {
                                    foreach (var item in (List<ClassTask>)TempData["classtasks"])
                                    {
                                        <div class="post">
                                            <div class="post-media">
                                                <a href="#"><img src="@Url.Action("teacherPhoto","ClassTasks", new { id = item.Teacher.ApplicationUser.Id })" width="37" height="37"></a>
                                                <div class="content">
                                                    <h5><a href="#">@item.Teacher.title @item.Teacher.ApplicationUser.lastName</a></h5>
                                                    <p class="text-muted"><small>@item.postDate.ToString("MMMM dd") at @item.postDate.ToShortTimeString()</small></p>
                                                </div>
                                            </div>
                                            <div class="post-content">
                                                <p><b>Due On: @item.dueDate.ToString("dd MMMM yyyy")</b></p>
                                                <p><b>Time: @item.dueTime.ToString("hh:mm tt")</b></p>
                                                <hr />
                                                <p><b>@item.heading;</b></p>
                                                <p>@item.content</p>
                                                @if (item.ClassTaskFile != null)
                                                {
                                                    <p>
                                                        <label>Attachment:</label>
                                                        <ul class="attachment">
                                                            <li>
                                                                <a class="title" href="/ClassTasks/Download/?p=@(item.ClassTaskFile.Id+item.ClassTaskFile.FileName)&d=@item.ClassTaskFile.FileName">@item.ClassTaskFile.FileName</a>
                                                            </li>
                                                        </ul>
                                                    </p>
                                                }
                                                @if (item.Interactions.Any())
                                                {
                                                    foreach (var i in item.Interactions)
                                                    {
                                                        init = i.ApplicationUser.firstName.Substring(0, 1).ToUpper();
                                                        if (i.ApplicationUser.middleName != null)
                                                        {
                                                            init = init + i.ApplicationUser.middleName.Substring(0, 1).ToUpper();
                                                        }
                                                        <div class="col-md-offset-6">
                                                            <div class="post-media">
                                                                <a href="#"><img src="@Url.Action("userPhoto","ClassTasks", new { id = i.ApplicationUser.Id })" width="37" height="37"></a>
                                                                <div class="content">
                                                                    @if (i.ApplicationUser == i.ClassTask.Teacher.ApplicationUser)
                                                                    {
                                                                        <h5><a href="#">@i.ClassTask.Teacher.title @init @i.ApplicationUser.lastName</a></h5>
                                                                    }
                                                                    else
                                                                    {
                                                                        <h5><a href="#">@init @i.ApplicationUser.lastName</a></h5>
                                                                    }
                                                                    <p class="text-muted"><small>@i.postDate.ToString("MMMM dd") at @i.postDate.ToShortTimeString()</small></p>
                                                                </div>
                                                            </div>
                                                            <div class="post-content">
                                                                <p>@i.content</p>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            </div>
                                            @if (s[0].ToString() == "Student")
                                            {
                                                using (Html.BeginForm("Create", "Interactions", new { id = item.Id }, FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div class="row">
                                                        <div class="col-md-6" style="padding-right:0px">
                                                            @Html.EditorFor(model => model.content, new { htmlAttributes = new { placeholder = "Query...", @class = "form-control" } })
                                                        </div>
                                                        <div style="float:left">
                                                            <button class="btn btn-primary" type="submit"><i class="fa fa-lg fa-fw fa-paper-plane"></i></button>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            @if (s[0].ToString() == "Teacher")
                                            {
                                                using (Html.BeginForm("Create", "Interactions", new { id = item.Id }, FormMethod.Post))
                                                {
                                                    @Html.AntiForgeryToken()
                                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                    <div class="row">
                                                        <div class="col-md-6" style="padding-right:0px">
                                                            @Html.EditorFor(model => model.content, new { htmlAttributes = new { placeholder = "Answer", @class = "form-control" } })
                                                        </div>
                                                        <div style="float:left">
                                                            <button class="btn btn-primary" type="submit"><i class="fa fa-lg fa-fw fa-paper-plane"></i></button>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            <ul class="post-utility">
                                                <li class="comments"><i class="fa fa-fw fa-lg fa-comment-o"></i> @item.Interactions.Count() Queries</li>
                                            </ul>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/js/jquery-2.1.4.min.js"></script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}